*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensures the body covers the entire viewport height */
}
.main-container{
  width:90%;
  max-width: 500px;
  background: linear-gradient(white,orange);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.inputs input{
    border:0;
    outline:0;
background: #ebfffc;
color: #555;
padding: 5px 25px;
height: 45px;
border-radius: 30px;
flex:1;
margin-right: 16px;
font-size: 18px;
}
.weather{
    color: #555;
}
.weather i{
    margin-top: 30px;
    font-size: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;

}
.rain-icon{
    width:170px;
    margin-top: 30px;

}
.details{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
    color:#ebfffc;
    font-size: 20px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col i{
    width:40px;
    margin-right: 10px;
    font-size: 30px;
 
}
.humidity, .wind{
    font-size: 25px;
    margin-top: -6px;
}
@media (max-width:768px){
    .container{
    flex-direction: column;
    }
}